on:
    workflow_dispatch:
    schedule:
        - cron: 0 0 * * *
name: Update
jobs:
    update:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2
            - uses: actions/setup-node@v2
              with:
                  node-version: latest
            - name: Install dependencies
              run: npm install yarn yarn-upgrade-all -g
            - name: Upgrade dependencies
              run: yarn-upgrade-all
            - name: Commit changes
              run: |
                  git config --local user.email "41898282+github-actions[bot]@users.noreply.github.com"
                  git config --local user.name "github-actions[bot]"
                  git commit -m "Upgrade dependencies"
            - name: Push changes
              uses: ad-m/github-push-action@master
              with:
                  github_token: ${{ secrets.GITHUB_TOKEN }}
                  branch: ${{ github.ref }}
